<div class="app-container">
  <app-header
    [title]="title"
    [selectedYear]="selectedYear"
    [currentYear]="currentYear"
    [availableYears]="availableYears"
    (loadFakeData)="loadFakeData()"
    (clearAllData)="clearAllData()"
    (toggleSidebar)="toggleSidebar()"
    (printAssessment)="printAssessment()"
    (yearChange)="onYearChange($event)"
  ></app-header>

  @if (assessmentData) {
  <!-- Sidebar Tab/Handle - positioned outside sidenav container -->
  <div
    class="sidebar-tab"
    [class.sidebar-open]="sidebarOpen"
    (click)="toggleSidebar()"
    matTooltip="Toggle Scoring Overview"
    matTooltipPosition="left"
  >
    <mat-icon>assessment</mat-icon>
  </div>

  <mat-sidenav-container class="main-container">
    <!-- Scoring Sidebar -->
    <mat-sidenav
      mode="side"
      [opened]="sidebarOpen"
      position="end"
      class="scoring-sidebar"
    >
      <app-scoring-sidebar
        [selectedYear]="selectedYear"
        [currentYear]="currentYear"
        [assessmentData]="assessmentData"
        [selectedTabIndex]="selectedTabIndex"
        [scoreValues]="getScoreValues()"
        [selectedScores]="selectedScores"
        [sectionColors]="sectionColors"
        (toggleSidebar)="toggleSidebar()"
      ></app-scoring-sidebar>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="main-content">
      <div class="tabs-container">
        <mat-tab-group
          mat-align-tabs="center"
          class="assessment-tabs"
          [(selectedIndex)]="selectedTabIndex"
          [style.--current-tab-color]="getCurrentTabColor()"
        >
          <!-- Home Tab -->
          <mat-tab label="Home">
            <app-home
              [assessmentData]="assessmentData"
              [selectedScores]="selectedScores"
              [availableYears]="availableYears"
              [currentYear]="currentYear"
              [yearlyScores]="yearlyScores"
              [expandedYears]="expandedYears"
              [sectionColors]="sectionColors"
              (navigateToSection)="navigateToSection($event)"
              (yearDetailsToggled)="onYearDetailsToggled($event)"
            ></app-home>
          </mat-tab>

          <!-- Assessment Section Tabs -->
          @for (section of assessmentData.assessment_framework.sections; track
          section.title) {
          <mat-tab [label]="section.title">
            <app-assessment-section
              [section]="section"
              [scoreValues]="getScoreValues()"
              [selectedScores]="selectedScores"
              [sectionColors]="sectionColors"
              (scoreSelected)="onScoreSelected($event)"
            >
            </app-assessment-section>
          </mat-tab>
          }
        </mat-tab-group>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  } @if (!assessmentData) {
  <div class="loading">
    <p>Loading assessment data...</p>
  </div>
  }
</div>
